.tasks {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

.tasks > button {
  margin-top: 15px;
}

.container input {
  visibility: hidden;
  cursor: pointer;
}

/* Create a custom checkbox */
.mark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: var(--pale-white);
  border: 1px solid var(--black);
}

.container input:checked ~ .mark {
  background-color: var(--black);
}

/* Create the mark/indicator (hidden when not checked) */
.mark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the mark when checked */
.container input:checked ~ .mark:after {
  display: block;
}

/* Style the mark/indicator */
.container .mark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.position-check {
  position: relative;
}

.each-task {
  border: 1px solid var(--black);
  padding: 10px;
  display: flex;
  gap: 20px;
  align-items: center;
  border-radius: 15px;
}

.priority {
  color: var(--blue);
}
