.tasks {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

.tasks > button {
  margin-top: 15px;
}

.position-check {
  position: relative;
}

.each-task {
  border: 1px solid var(--black);
  padding: 10px;
  display: flex;
  gap: 20px;
  align-items: center;
  border-radius: 15px;
}

.low {
  color: var(--blue);
}

.medium {
  color: var(--orange);
}

.high {
  color: var(--red);
}

.no-lines {
  text-decoration: none;
}

.text-decor {
  text-decoration-line: line-through;
}
